.footer {
    margin-top: 30px;
    text-align: center;
    .divider {
        border-top: 5px dotted gray;
        width: 60%;
        margin-left: 20%;
        margin-bottom: 15px;
        margin-top: 15px;;
    }
}