.header {
    position: relative;
    min-height: 30px;
    padding: 15px 0px;

    .user {
        margin-bottom: 10px;
    }
    ul {
        list-style: none;
        padding: 0px;
        padding-top: 5px;
        position: absolute;
        right: 0px;
        top: 5px;
        li {
            display:inline-block;
            padding-left: 15px;
            &:first-child{
                padding-left: 0px;
            }

            &:hover>ul{
                display:block;
                transition: 1s;
            }

            &>ul{
                position: relative;;
                left:0px;
                top:30px;
                display:block;
                padding: 0px;
                margin-top: -10px;
                display:none;
                z-index: 20;
                background-color: rgba($color: white, $alpha: 0.7);
                transition: 1s;
                li {
                    display: block;
                    text-align: center;
                    padding: 5px 0px;
                    border-top: solid 1px gray;
                    transition: 1s;
                    cursor: pointer;
                    &:last-child{
                        border-bottom: solid 1px gray;
                    }

                    &:hover{
                        transition: 1s;
                        background-color: rgba($color: gray, $alpha: 0.8);
                    }
                }
            }
        }
    }
}