<div class="header">
    <div class="user">
        {{ "general.buenosDias" | translate}}, Miguel
    </div>
    <div class="options">
        <ul class="nav">
            <li *ngFor="let item of menu" class="nav-item">
                {{item.label | translate}}
                <fa-icon [icon]="item.icono"></fa-icon>
                <ul class="subMenu" *ngIf="item.child">
                    <li *ngFor="let subMenu of item.child" (click)="cambiarIdioma(subMenu.click)">
                        {{ subMenu.label | translate}}
                    </li>

                </ul>
            </li>
        </ul>
    </div>
</div>